.navBar.navBar--secondary
  %ul
    %li.navBar__item= link_to "Sending E-Mail", [organization, @server, :help_outgoing], :class => ['navBar__link', active_nav == :outgoing ? 'is-active' : '']
    %li.navBar__item= link_to "Receiving E-Mail", [organization, @server, :help_incoming], :class => ['navBar__link', active_nav == :incoming ? 'is-active' : '']

