.pageContent.js-ajax-region
  - if @searchable
    = render 'search'

  - if @messages[:records].empty?
    .noData.noData--clean
      %h2.noData__title No messages found matching your filter.
      %p.noData__text
        There were no messages which matched the query that you entered. Sorry about that.
  - else
    = render 'list', :messages => @messages[:records]
    = render 'shared/message_db_pagination', :data => @messages, :name => "message"

