/.bundle
.byebug_history
config/postal.yml
config/smtp.cert
config/smtp.key
config/lets_encrypt.pem
config/signing.key
config/fast_server.cert
config/fast_server.key
public/assets
vendor/bundle
Procfile.local
log/*
storage/*
tmp/*
spec/*
.git/*
.github/*
.vscode/*
.yardoc/*
doc/*
Procfile*
node_modules
Dockerfile
vendor/bundle
.cache
docker/*
PotamusFile
