/.bundle
.byebug_history
config/postal.yml
config/smtp.cert
config/smtp.key
config/signing.key
public/assets
vendor/bundle
Procfile.local
log/*
storage/*
tmp/*
.git/*
.github/*
.vscode/*
.yardoc/*
doc/*
Procfile*
node_modules
Dockerfile
vendor/bundle
.cache
