- page_title << "Create a new IP pool"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = link_to "IP Pools", :ip_pools
      &rarr;
    Create a new IP pool
.pageContent.pageContent--compact
  = render 'form'

