.u-margin {
  margin-bottom:25px;
}

.u-margin-half {
  margin-bottom:10px;
}

.u-center {
  text-align:center;
}

.u-green {
  color:$green;
}

.u-orange {
  color:$orange;
}

.u-grey {
  color:#999;
}
.u-red {
  color:$red;
}

.u-bold {
  font-weight:600;
}

.u-link {
  text-decoration: underline;
}

.is-hidden {
  display:none;
}
