html.main .flashMessage {
  position:fixed;
  background:$red;
  z-index:5000;
  left:25px;
  top:25px;
  width:300px;
  color:#fff;
  padding:15px;
  border-radius:4px;
  font-size:16px;
  box-shadow:0 0 15px rgba(0,0,0,0.8);
  cursor:pointer;
}

html.main .flashMessage--notice {
  background:$green;
}

html.subPage .flashMessage {
  background:$red;
  color:#fff;
  font-size:14px;
  padding:15px;
  line-height:1.4;
}

html.subPage .flashMessage--notice {
  background:$green;
}
