.loginForm {}


.loginForm__input {
  margin-bottom: 15px;
}

.loginForm__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.loginForm__links {
  font-size: 12px;
  color: #999;
  text-decoration: underline;
  line-height: 1.7;
}

.loginForm__divider {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #e4e8ef;
}

.loginForm__localTitle {
  text-align: center;
  margin-bottom: 15px;
  color: #999;
}
