.loginForm {

}


.loginForm__input {
  margin-bottom:15px;
}

.loginForm__submit {
  display:flex;
  justify-content:space-between;
  align-items:center;
}


.loginForm__links {
  font-size:12px;
  color:#999;
  text-decoration: underline;
  line-height:1.7;
}
