.siteContent {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.siteContent__main {
  flex: 1 1 auto;
  z-index:100;
  overflow-y:scroll;
  overflow-x:hidden;
}

.siteContent__footer {
  border-top:1px solid #efefef;
  margin-top:20px;
  padding:25px;
  display:flex;
}
