.suspensionBox {
  background:#e2383a;
  border-radius:4px;
  color:#fff;
  line-height:1.5;
  padding:25px;
  font-size:16px;
}

.suspensionBox__reason {
  margin-top:5px;
  font-size:14px;
  opacity:0.7;
}
