.titleWithLinks {
  display:flex;
  color:$darkBlue;
  align-items:center;
}

.titleWithLinks__title {
  flex: 1 1 auto;
  font-size:23px;

}

.titleWithLinks__links {
  flex: 1 1 auto;
  display:flex;
  justify-content: flex-end;
  li + li {
    margin-left:25px;
  }
}
.titleWithLinks__link {
  text-decoration: underline;
  &:hover {
    color:$blue;
  }
}
