- page_title << @server.name
- page_title << "Limits"
= render 'sidebar', :active_server => @server
= render 'header', :active_nav => :settings
= render 'settings_header', :active_nav => :limits
.pageContent.pageContent--compact

  %p.pageContent__intro.u-margin
    In order to protect our reputation and ensure the resiliency of our service,
    we implement limits on the amount of e-mail that can pass through your mail
    server.
  %p.pageContent__text.u-margin
    The main limit to be aware of is the amount of e-mail that you can send
    from your mail server to external recipients in a rolling 60 minute window.
    The current limit is shown below.

  %ul.limits.u-margin
    %li.limits__limit
      %p.limits__value
        - if @server.send_limit
          = number_with_delimiter @server.send_limit
        - else
          unlimited
      %p.limits__frequency e-mails every 60 minutes*


  %p.pageContent__text
    You can view your current usage & limit on the top of right of every mail server
    page in the web interface. The bars will show you how close you are to reaching the
    limits. Although we show your incoming mail throughput, it is not limited at present.

  %p.pageContent__subTitle What happens if I reach the limit?
  %p.pageContent__text
    If you reach your outgoing limit, any new e-mails that you try to send will be held and
    will need to be released manually when your usage has dropped.

  %p.pageContent__text
    You will be notified by e-mail (and with a webhook if enabled) when you are approaching
    and/or exceeding your limits.
