- page_title << "Users"
- page_title << "Add"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = link_to 'Users', :users
      &rarr;
    Add user

.pageContent.pageContent--compact
  %p.pageContent__intro.u-margin
    To add someone to this Postal installation, you can add them below. You'll need to
    choose whether to make them an admin (full access to all organizations and settings)
    or whether you wish to limit them to specific organizations.
  = render 'form'

