- page_title << "Join Organization"
.pageHeader
  %h1.pageHeader__title
    Join Organization
.pageContent.pageContent--compact
  %h2.pageContent__intro.u-margin
    Welcome to Postal.
    - if @organizations.size == 1
      You've been invited to join the <b>#{@organizations.first.name}</b> organization. Once accepted, you'll be able to
      access this organization's mail servers.
    - else
      You've been invited to join an organization

  %p.buttonSet
    = link_to "Accept " + (@organizations.size == 1 ? "Invitation" : "Invitations"), '', :class => "button button--positive", :remote => true, :method => :post
    = link_to "Reject " + (@organizations.size == 1 ? "Invitation" : "Invitations"), '', :class => "button button--danger", :remote => true, :method => :delete
