- page_title << @server.name
- page_title << "Credentials"
- page_title << "Add Credential"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :credentials
.pageContent.pageContent--compact
  = render 'form'
