- page_title << "Admin"
- page_title << "Stats"

.pageContent
  .adminStats
    %dl.adminStats__stat
      %dt Total Messages
      %dd= number_with_delimiter @stats.total_messages

    %dl.adminStats__stat
      %dt Total Outgoing
      %dd= number_with_delimiter @stats.total_outgoing


    %dl.adminStats__stat
      %dt Total Incoming
      %dd= number_with_delimiter @stats.total_incoming

    %dl.adminStats__stat
      %dt Current Queue Size
      %dd= number_with_delimiter @queue_size
