---
name: CI
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-latest:
    name: Build Latest Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: info
        run: |
          VER="$(git describe --tags 2>/dev/null || echo '0.0.0')"
          echo "version=${VER}" >> "$GITHUB_OUTPUT"
          echo "image=ghcr.io/${GITHUB_REPOSITORY,,}:latest" >> "$GITHUB_OUTPUT"
      - uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ steps.info.outputs.image }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: full
          platforms: linux/amd64
          build-args: |
            VERSION=${{ steps.info.outputs.version }}
            BRANCH=main
