---
name: CI
on: [push]

permissions:
  contents: read
  packages: write

jobs:
  build-latest:
    name: Build Latest Package
    runs-on: ubuntu-latest
    if: >-
      startsWith(github.ref, 'refs/heads/') &&
      startsWith(github.ref, 'refs/heads/release-please-') != true &&
      startsWith(github.ref, 'refs/heads/dependabot/') != true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: info
        run: |
          IMAGE=ghcr.io/${{ github.repository }}
          REF="${GITHUB_REF#refs/heads/}"
          VER="$(git describe --tags 2>/dev/null || echo '0.0.0')"
          echo "version=${VER}" >> "$GITHUB_OUTPUT"
          echo "branch=${REF}" >> "$GITHUB_OUTPUT"
          if [[ "$REF" == "main" ]]; then
            echo "tags=${IMAGE}:latest" >> "$GITHUB_OUTPUT"
          else
            echo "tags=${IMAGE}:branch-${REF}" >> "$GITHUB_OUTPUT"
          fi
      - uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ steps.info.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: full
          platforms: linux/amd64
          build-args: |
            VERSION=${{ steps.info.outputs.version }}
            BRANCH=${{ steps.info.outputs.branch }}
